

header{
    background-color: cyan;
    border-radius: 30px;
    border: groove 10px gray;
    margin-bottom: 20px;
    color: gray;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{

    text-align: center;
}
body{
    margin: 10px;
    background-image: url(../images/fondo.png);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.grid{
    height: 85vh;
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    
}

.item{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);

    border-radius: 27.9px;
    padding: 0;
    transition: all .5s;
}

.item :hover{
    transform: scale(0.8);
}

.item1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.item2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.item3{
    grid-column: 3/4;
    grid-row: 3/4;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin: 0%;
    padding: 0%;
    transition: all .5s;
}

img :hover{
    transform: scale(0.8);
}